
.custom-card-article-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 8rem auto;
  padding: 0 2rem;
  gap: 2rem;
  max-width: 1500px;
}

.custom-card-article-box {
  flex: 1 1 calc(25% - 2rem);
  max-width: 25%;
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-right: 1rem;
}


.custom-card-article-box:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 0;
  width: 1.2px;
  height: 50%;
  background-color: rgba(180, 180, 180, 0.3);
}


.custom-card-article-title {
  font-weight: 900;
  line-height: 24px;
  font-size: 1.4rem;
}

.custom-card-article-paragraph {
  font-weight: 700;
  line-height: 24px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.fade-in-up.visible {
  animation: fadeInUp 1.2s ease-out forwards;
}

@media (max-width: 1200px) {
  .custom-card-article-box {
    flex: 1 1 calc(33.33% - 2rem);
    max-width: 33.33%;
  }

}

@media (min-width: 1201px) {
  .custom-card-article-box:nth-child(4n)::after {
    display: none;
  }
}


@media (max-width: 1200px) and (min-width: 901px) {
  .custom-card-article-box:nth-child(3n)::after {
    display: none;
  }
}

@media (max-width: 900px) {
  .custom-card-article-box {
    flex: 1 1 calc(50% - 2rem);
    max-width: 50%;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .custom-card-article-box:nth-child(2n)::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .custom-card-article-box {
    flex: 1 1 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .custom-card-article-box:not(:last-child)::after {
    display: none;
  }

  .custom-card-article-container {
    padding: 0 1rem;
  }

  .custom-card-article-box::after {
    display: none;
  }
}