.money-transfer-container {
    background-image:var(--money-transfer-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4.5rem 7rem;
    border-top-left-radius: 100px;
}

.money-transfer-right-side {
    width: 50%;
}

.money-transfer-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 55px;
}

.money-transfer-paragraph {
    font-size: 1.1rem;
    color: var(--build-card-paragraph-color);
    margin-bottom: 1.5rem;
}

.money-transfer-left-side-description-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    width: 70%;
    line-height: 21px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--build-card-paragraph-color);
}

.money-transfer-left-side-img {
    border-radius: 100%;
    width: 8%;
}

.money-transfer-left-side {
    width: 50%;
}
@media (max-width: 1025px) {
    .money-transfer-container{
        margin: 5rem auto;
    }
}

@media (max-width: 768px) {
    .money-transfer-container {
        flex-direction: column-reverse;
        text-align: center;
        padding: 2rem;
    }

    .money-transfer-left-side,
    .money-transfer-right-side {
        width: 100%;
    }

    .money-transfer-left-side-description-container {
        justify-content: center;
    }
}