.custom-super-cards-container {
    border: 2.6px solid var(--brands-border-color);
    display: flex;
    border: 2.6px solid var(--brands-border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 4.5rem;
    margin: 0 7rem;
    border-top-right-radius: 100px;
}

.custom-super-cards-top {
    margin-bottom: 4rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
}

.custom-super-cards-title {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 3.5rem;
    width: 80%;
}

.custom-super-cards-item-svg {
    width: 20px;
}