.custom-super-cards-container {
    display: flex;
    border: 2.6px solid var(--brands-border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 4.5rem;
    margin: 0 7rem;
    border-top-right-radius: 100px;
}

.custom-super-cards-top {
    margin-bottom: 4rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
}

.custom-super-cards-title {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 3.5rem;
    width: 80%;
}

.custom-super-cards-paragraph {
    color: var(--build-card-paragraph-color);
    font-size: 1.2rem;
    ;
}

.custom-super-cards-item-svg {
    width: 20px;
}

.custom-super-cards-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}
.custom-super-cards-box {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 0.5s ease, border-radius 0.5s ease, box-shadow 0.5s ease;
  }

.custom-super-cards-box--active::before {
    height: 100%;
  }
  
.custom-super-cards-box-title {
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.custom-super-cards-box-price {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.blue-btn,
.black-btn {
    width: 60%;
    padding: 1rem 0;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 50px;
    text-transform: capitalize;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, width 0.3s ease;
}

.blue-btn {
    background-color: var(--custom-supercard-button-background);
    color: var(--text-white-color);
}


.black-btn {
    background-color: var(--navBar-background);
    color: var(--text-white-color);
}

.blue-btn:hover,
.black-btn:hover {
    transform: scale(1.05);
    width: 80%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.custom-super-cards-list {
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.custom-super-cards-list-title {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 800;
}

.custom-super-cards-item-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--build-card-paragraph-color);
}

.custom-super-cards-item-svg {
    width: 16px;
    height: 16px;
}

.custom-super-cards-image {
    width: 100%;
    margin-bottom: 1rem;
}
