.buy-card-form-bg {
    background-color: var(--header-background);
    border-bottom-left-radius: 10rem;
}

.buy-card-form-box {
    background-color: var(--text-white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.buy-card-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.first-name-input-box,
.last-name-input-box,
.work-email-input-box,
.website-input-box,
.compony-size-select-box,
.country-select-box,
.anything-else-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}

.first-name-label,
.last-name-label,
.work-email-label,
.website-label,
.compony-size-label,
.country-label,
.anything-else-label {
    font-size: 1.2rem;
}

.first-name-input,
.last-name-input,
.work-email-input,
.website-input,
.compony-size-select,
.country-select {
    padding: 0.5rem;
    width: 50%;
    border: 1px solid rgba(128, 128, 128 , 0.5);
    border-radius: 5px;
}