.buy-card-form-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 45vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--header-background);
}

.buy-card-form-bg {
    width: 100%;
    padding: 2rem;
    border-bottom-left-radius: 10rem;
    background-color: var(--header-background);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.form-background-image {
    position: absolute;
    opacity: 0.2;
    z-index: 0;
    transform: translate(0%, 0%);
}

.buy-card-form-box {
    background-color: var(--text-white-color);
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    z-index: 2;
}

.buy-card-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.first-name-input-box,
.last-name-input-box,
.work-email-input-box,
.website-input-box,
.compony-size-select-box,
.country-select-box,
.anything-else-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}

.first-name-label,
.last-name-label,
.work-email-label,
.website-label,
.compony-size-label,
.country-label,
.anything-else-label {
    font-size: 1.2rem;
    width: 30%;

}

.anything-else-textarea {
    max-width: 450px !important;
}

.first-name-input,
.last-name-input,
.work-email-input,
.website-input,
.compony-size-select,
.country-select,
.anything-else-textarea {
    padding: 0.8rem;
    margin-right: 1rem;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

select {
    -moz-appearance: none;
    appearance: none;
}

.first-name-input:focus,
.last-name-input:focus,
.work-email-input:focus,
.website-input:focus,
.compony-size-select:focus,
.country-select:focus,
.anything-else-textarea:focus {
    border: 1px solid #007bff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.buy-card-submit-btn-container {
    padding-right: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* @media (min-width: 1024px) {
    .buy-card-form-bg {
        margin-top: 9px;
    }
} */