.fqa-container {
    padding: 4rem 4.5rem;
    margin: 0 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fqa-title {
    font-size: 3rem;
    text-align: center;
}

.fqa-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 2rem;
}

.fqa-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: var(--box-background, #f9f9f9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.fqa-box-title {
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: capitalize;
}


@media (max-width: 1024px) {
    .fqa-container {
        padding: 3rem 2rem;
        margin: 0 2rem;
    }

    .fqa-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 600px) {
    .fqa-title {
        font-size: 2rem;
    }

    .fqa-box {
        padding: 1rem;
    }
}