.fqa-section {
    max-width: 1300px;
    padding: 4rem 4.5rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fqa-title {
    font-size: 3rem;
    text-align: center;
}

.fqa-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    justify-items: center;
    width: 100%;
}

.fqa-box {
    width: 100%;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: var(--box-background, #f9f9f9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.fqa-box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(0, 123, 255, 0.481);
    border-radius: 50%;
    transform: scale(0);
    transform-origin: top left;
    transition: transform 1200ms ease;
    z-index: 0;

}

.fqa-box:hover::before {
    transform: scale(1);
}

.fqa-box * {
    position: relative;
    z-index: 1;
}

.fqa-box-title {
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: capitalize;
}


@media (max-width: 1024px) {
    .fqa-section {
        padding: 3rem 2rem;
    }

    .fqa-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 600px) {
    .fqa-title {
        font-size: 2rem;
    }

    .fqa-box-container {
        grid-template-columns: 1fr;
    }

    .fqa-box {
        padding: 1.2rem;
    }
}