html,
body,
#root,
.buy-card-page-section,
.buy-card-page-bottom-side {
    height: 100%;
}

.buy-card-page-section {
    margin: 0 auto;
    max-width: 1300px;
}

.buy-card-page-top-side {
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 1.5rem;
}

.buy-card-page-bottom-side {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 3rem;
    padding-top: 5rem;
}


.build-flexible-card-section {
    flex: 1;
    width: 90%;
}


.build-flexible-card-title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 1rem;
    width: 100%;
}

.build-flexible-card-box-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.build-flexible-card-box {
    display: flex;
    width: 100%;
    gap: 0.8rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 0.8rem;
}

.build-flexible-card-company-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.build-flexible-card-company-title {
    color: var(--build-card-paragraph-color);
    text-transform: uppercase;
}

.build-flexible-card-companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

@media (max-width: 1400px) {
    .buy-card-page-bottom-side {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-top: 5rem;
        align-items: center;
        justify-content: center;
    }

    .buy-card-page-top-side {
        padding-left: 1rem;
    }
}
