.business-card-container {
    background-image: var(--money-transfer-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4.5rem 7rem;
    border-top-left-radius: 100px;
    padding: 8rem 3rem;
}

.business-card-right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.business-card-left-side-title {
    width: 80%;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 45px;
}

.business-card-left-side-paragraph {
    font-size: 1rem;
    margin-bottom: 2rem;
    width: 80%;
    color: var(--build-card-paragraph-color);
}

.business-card-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.business-card-item-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.business-card-left-side {
    width: 50%;
}

.business-card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.business-card-box-img {
    max-width: 500px;

}

.business-card-box-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.pagination-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pagination-btn {
    padding: 0.5rem;
    background-color: var(--pagination-btn-background-color);
    border-radius: 100%;
    cursor: pointer;

}

.active {
    background-color: var(--get-card-arrow-color);
}