.getYourCard-btn:hover .arrow-icon {

    animation: moveArrow 0.6s infinite ease-in-out;
}

@keyframes moveArrow {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }
}

.card-svg {
    animation: spin 3s linear infinite;
    transition: none;
}

.card-svg:hover {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* getYourCard-blue-btn*/

.getYourCard-blue-btn {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 50px;
    background-color: var(--header-background);
    color: var(--text-white-color);
    text-transform: capitalize;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

.getYourCard-blue-btn:hover .arrow-icon {
    animation: moveArrow 0.6s infinite ease-in-out;
}