.getyourcart-container {
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 4.5rem;
    margin: 12rem 7rem;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10rem;
    position: relative;
    overflow: visible;
    z-index: 1;
}

.getyourcart-top {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.getyourcart-title{
    width: 87%;
    color: var(--text-white-color);
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}
.getyourcart-paragraph{
    width: 67%;
    color: var(--text-light-gray-color);
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
.getyourcart-svg {
    width: 50%;
}

.getyourcart-img {
    width: 20%;
}