.getyourcart-container-section{
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 4.5rem;
    margin: 12rem auto;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    max-width: 1300px;
}
.getyourcart-top {
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.getyourcart-title {
    width: 87%;
    color: var(--text-white-color);
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.getyourcart-paragraph {
    width: 67%;
    color: var(--text-light-gray-color);
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.getyourcart-img-container {
    position: relative;
    max-width: 1000px;
    width: 100%;
}

.getyourcart-svg {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


.getyourcart-img {
    position: relative;
    width: 100%;
    z-index: 3;
}

.getyourcart-install-guide-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 8rem 0;
    padding: 0 4.5rem;
    gap: 2rem;
    width: 100%;
}

.getyourcart-install-guide-box {
    flex: 1 1 calc(33.33% - 2rem);
    max-width: calc(33.33% - 2rem);
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: flex-start;
    position: relative;
    padding-right: 1rem;
}

.getyourcart-install-guide-box:not(:nth-child(3n))::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 10px;
    width: 2px;
    height: 50%;
    background-color: rgba(0, 255, 255, 0.2);
}

.getyourcart-install-guide-svg {
    display: flex;
    width: 60px;
    height: 60px;
    color: rgb(33, 100, 95);
    font-size: 1.2rem;
    font-weight: 800;
    background-color: rgb(16, 214, 198);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.getyourcart-install-guide-title {
    color: var(--text-white-color);
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 24px;
}

.getyourcart-install-guide-paragraph {
    font-size: 0.9rem;
    color: var(--text-light-gray-color);
    font-weight: 600;
    line-height: 24px;
}

/* === MEDIA QUERIES === */
@media (max-width: 1390px) {
    .getyourcart-install-guide-container {
        flex-direction: column;
        align-items: center;
    }

    .getyourcart-install-guide-box {
        max-width: 100%;
        flex: 1 1 100%;
        padding-right: 0;
    }

    .getyourcart-install-guide-box::after {
        display: none;
    }

    .getyourcart-svg {
        width: 100%;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }


}

@media (max-width: 1270px) {
    .getyourcart-container-section {
        padding: 4rem 2rem;
        margin: 3rem auto;
    }

    .getyourcart-title,
    .getyourcart-paragraph {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .getyourcart-top {
      text-align: center;
    }
    .getyourcart-svg {
        width: 150%;
    }

    .getyourcart-install-guide-box {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .getyourcart-install-guide-box {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .getyourcart-svg {
        width: 200%;
    }
}