.getyourcart-container {
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 4.5rem;
    margin: 12rem 7rem;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10rem;
    position: relative;
    overflow: visible;
    z-index: 1;
}

.getyourcart-top {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.getyourcart-title {
    width: 87%;
    color: var(--text-white-color);
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.getyourcart-paragraph {
    width: 67%;
    color: var(--text-light-gray-color);
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.getyourcart-img-container {
    position: relative;
    max-width: 1000px;
    height: 390px;
    width: 100%;
}

.getyourcart-svg {
    width: 60%;
    position: relative;
    z-index: 0;
    left: 25%;
    top: -108px;
}

.getyourcart-img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}

.getyourcart-install-guide-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 8rem 0;
    padding: 0 4.5rem;
    gap: 2rem;
}

.getyourcart-install-guide-box {
    flex: 1 1 calc(33.33% - 2rem);
    max-width: calc(33.33% - 2rem);
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding-right: 1rem;
}

.getyourcart-install-guide-box:not(:nth-child(3n))::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 10px;
    width: 2px;
    height: 50%;
    background-color: rgba(0, 255, 255, 0.2);
}


.getyourcart-install-guide-svg {
    display: flex;
    width: 19%;
    padding: 1rem;
    color: rgb(33, 100, 95);
    font-size: 1.2rem;
    font-weight: 800;
    background-color: rgb(16, 214, 198);
    border: 0;
    border-radius: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.getyourcart-install-guide-title {
    color: var(--text-white-color);
    font-weight: 900;
    line-height: 24px;
    font-size: 1.4rem;
}

.getyourcart-install-guide-paragraph {
    font-size: 0.9rem;
    color: var(--text-light-gray-color);
    font-weight: 600;
    line-height: 24px;
}

@media (max-width: 1390px) {

    .getyourcart-install-guide-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .getyourcart-install-guide-box::after {
        display: none;
    }

    .getyourcart-install-guide-box {
        max-width: 100%;
    }

    .getyourcart-install-guide-svg {
        width: 9%;
    }
}

@media (max-width: 1027px) {
    .getyourcart-container {
        padding: 4rem 2rem;
        margin: 0 auto;
    }


}

@media (max-width: 900px) {

    .getyourcart-svg {
        display: none;
    }

    .getyourcart-install-guide-box {
        flex: 1 1 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
    }

    .getyourcart-install-guide-box::after {
        content: none;
    }

    .getyourcart-install-guide-box:not(:nth-child(2n))::after {
        content: "";
        position: absolute;
        top: 40%;
        right: 10px;
        width: 2px;
        height: 50%;
        background-color: rgba(0, 255, 255, 0.2);
    }
}


@media (max-width: 600px) {
    .getyourcart-install-guide-box {
        flex: 1 1 100%;
        max-width: 100%;
        padding-right: 0;
    }

    .getyourcart-install-guide-box::after {
        content: none;
    }
}