.footer-dark-btn {
    position: relative;
    margin: 0;
    padding: 17px 35px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgba(44, 42, 42, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: #ffffff;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
}

.footer-dark-btn-text {
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.footer-dark-btn:after {
    content: "";
    position: absolute;
    top: -50px;
    left: -150px;
    width: 90px;
    height: 160px;
    background: rgba(59, 130, 246, 0.8);
    transform: rotate(35deg);
    filter: blur(10px);
    mix-blend-mode: lighten;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

.footer-dark-btn:hover:after {
    left: 180%;
}